<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Metis Mythology Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:38</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>21/09/06 21:20:41</td>   <td>2984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContentsBoxTest.contentsBoxHaveFunctioningHyperlinks(java.util.Hashtable)[pri:1, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">contentsBoxHaveFunctioningHyperlinks</td> 
  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:41</td>   <td>2986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>21/09/06 21:20:42</td>   <td>4239</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.parksideexercise.testcases.ContentsBoxTest@14008db3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@451460284</td>   <td></td> </tr>
</table>
