<h2>Reporter output</h2><table><tr><td>Test Case Number: TC_Content_01 | Test Module: `Contents` Box  | Test Description: Validate Link: Function</td></tr>
<tr><td>---Preconditions---TC_Content_01</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: FunctionLink</td></tr>
<tr><td>xpathLINK: FunctionXPATH</td></tr>
<tr><td>---TEST---TC_Content_01</td></tr>
<tr><td>Retry #1 for test: contentsBoxHaveFunctioningHyperlinks, on thread: main</td></tr>
<tr><td>Test Case Number: TC_Content_01 | Test Module: `Contents` Box  | Test Description: Validate Link: Function</td></tr>
<tr><td>---Preconditions---TC_Content_01</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: FunctionLink</td></tr>
<tr><td>xpathLINK: FunctionXPATH</td></tr>
<tr><td>---TEST---TC_Content_01</td></tr>
<tr><td>Retry #2 for test: contentsBoxHaveFunctioningHyperlinks, on thread: main</td></tr>
<tr><td>Test Case Number: TC_Content_01 | Test Module: `Contents` Box  | Test Description: Validate Link: Function</td></tr>
<tr><td>---Preconditions---TC_Content_01</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: FunctionLink</td></tr>
<tr><td>xpathLINK: FunctionXPATH</td></tr>
<tr><td>---TEST---TC_Content_01</td></tr>
<tr><td>Retry #3 for test: contentsBoxHaveFunctioningHyperlinks, on thread: main</td></tr>
<tr><td>Test Case Number: TC_Content_01 | Test Module: `Contents` Box  | Test Description: Validate Link: Function</td></tr>
<tr><td>---Preconditions---TC_Content_01</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: FunctionLink</td></tr>
<tr><td>xpathLINK: FunctionXPATH</td></tr>
<tr><td>---TEST---TC_Content_01</td></tr>
<tr><td>Test Case Number: TC_Content_02 | Test Module: `Contents` Box  | Test Description: Validate Link: Family</td></tr>
<tr><td>---Preconditions---TC_Content_02</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: FamilyLink</td></tr>
<tr><td>xpathLINK: FamilyXPATH</td></tr>
<tr><td>---TEST---TC_Content_02</td></tr>
<tr><td>Test Case Number: TC_Content_02 | Test Module: `Contents` Box  | Test Description: Validate Link: Family</td></tr>
<tr><td>---Preconditions---TC_Content_02</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: FamilyLink</td></tr>
<tr><td>xpathLINK: FamilyXPATH</td></tr>
<tr><td>---TEST---TC_Content_02</td></tr>
<tr><td>Test Case Number: TC_Content_03 | Test Module: `Contents` Box  | Test Description: Validate Link: Mythology</td></tr>
<tr><td>---Preconditions---TC_Content_03</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: MythologyLink</td></tr>
<tr><td>xpathLINK: MythologyXPATH</td></tr>
<tr><td>---TEST---TC_Content_03</td></tr>
<tr><td>Test Case Number: TC_Content_03 | Test Module: `Contents` Box  | Test Description: Validate Link: Mythology</td></tr>
<tr><td>---Preconditions---TC_Content_03</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: MythologyLink</td></tr>
<tr><td>xpathLINK: MythologyXPATH</td></tr>
<tr><td>---TEST---TC_Content_03</td></tr>
<tr><td>Test Case Number: TC_Content_04 | Test Module: `Contents` Box  | Test Description: Validate Link: In sociology</td></tr>
<tr><td>---Preconditions---TC_Content_04</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: In_sociologyLink</td></tr>
<tr><td>xpathLINK: In_sociologyXPATH</td></tr>
<tr><td>---TEST---TC_Content_04</td></tr>
<tr><td>Test Case Number: TC_Content_04 | Test Module: `Contents` Box  | Test Description: Validate Link: In sociology</td></tr>
<tr><td>---Preconditions---TC_Content_04</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: In_sociologyLink</td></tr>
<tr><td>xpathLINK: In_sociologyXPATH</td></tr>
<tr><td>---TEST---TC_Content_04</td></tr>
<tr><td>Test Case Number: TC_Content_05 | Test Module: `Contents` Box  | Test Description: Validate Link: Honours</td></tr>
<tr><td>---Preconditions---TC_Content_05</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: HonoursLink</td></tr>
<tr><td>xpathLINK: HonoursXPATH</td></tr>
<tr><td>---TEST---TC_Content_05</td></tr>
<tr><td>Test Case Number: TC_Content_05 | Test Module: `Contents` Box  | Test Description: Validate Link: Honours</td></tr>
<tr><td>---Preconditions---TC_Content_05</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: HonoursLink</td></tr>
<tr><td>xpathLINK: HonoursXPATH</td></tr>
<tr><td>---TEST---TC_Content_05</td></tr>
<tr><td>Test Case Number: TC_Content_06 | Test Module: `Contents` Box  | Test Description: Validate Link: Notes</td></tr>
<tr><td>---Preconditions---TC_Content_06</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: NotesLink</td></tr>
<tr><td>xpathLINK: NotesXPATH</td></tr>
<tr><td>---TEST---TC_Content_06</td></tr>
<tr><td>Test Case Number: TC_Content_06 | Test Module: `Contents` Box  | Test Description: Validate Link: Notes</td></tr>
<tr><td>---Preconditions---TC_Content_06</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: NotesLink</td></tr>
<tr><td>xpathLINK: NotesXPATH</td></tr>
<tr><td>---TEST---TC_Content_06</td></tr>
<tr><td>Test Case Number: TC_Content_07 | Test Module: `Contents` Box  | Test Description: Validate Link: References</td></tr>
<tr><td>---Preconditions---TC_Content_07</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: ReferencesLink</td></tr>
<tr><td>xpathLINK: ReferencesXPATH</td></tr>
<tr><td>---TEST---TC_Content_07</td></tr>
<tr><td>Test Case Number: TC_Content_07 | Test Module: `Contents` Box  | Test Description: Validate Link: References</td></tr>
<tr><td>---Preconditions---TC_Content_07</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: ReferencesLink</td></tr>
<tr><td>xpathLINK: ReferencesXPATH</td></tr>
<tr><td>---TEST---TC_Content_07</td></tr>
<tr><td>Test Case Number: TC_Content_08 | Test Module: `Contents` Box  | Test Description: Validate Link: Furder Reading</td></tr>
<tr><td>---Preconditions---TC_Content_08</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: Further_readingLink</td></tr>
<tr><td>xpathLINK: Further_readingXPATH</td></tr>
<tr><td>---TEST---TC_Content_08</td></tr>
<tr><td>Test Case Number: TC_Content_08 | Test Module: `Contents` Box  | Test Description: Validate Link: Furder Reading</td></tr>
<tr><td>---Preconditions---TC_Content_08</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: Further_readingLink</td></tr>
<tr><td>xpathLINK: Further_readingXPATH</td></tr>
<tr><td>---TEST---TC_Content_08</td></tr>
</table>