<h2>Reporter output</h2><table><tr><td>Test Case Number: TC_brockenImage_00 | Test Module: PageHealthTest | Test Description: brockenImagesTest</td></tr>
<tr><td>---Preconditions---TC_brockenImage_00</td></tr>
<tr><td>Page under test 'Title': Metis (mythology) - Wikipedia</td></tr>
<tr><td>Page under test 'URL': https://en.wikipedia.org/wiki/Metis_(mythology)</td></tr>
<tr><td>---TEST---TC_brockenImage_00</td></tr>
<tr><td>Current Test Case Out of scope! Demo only. No Assertion Information Only</td></tr>
<tr><td>---TEST END---TC_brockenImage_00</td></tr>
<tr><td>Test Case Number: TC_Content_01 | Test Module: `Contents` Box  | Test Description: Validate Link: Function</td></tr>
<tr><td>---Preconditions---TC_Content_01</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: FunctionLink</td></tr>
<tr><td>xpathLINK: FunctionXPATH</td></tr>
<tr><td>---TEST---TC_Content_01</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX USED HEDING ON PAGE VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX LINK NAVIGATED FUNCTIONAL VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' LINK CONTAIN CORRECT RESPONSE CODE VALIDATION DONE, CODE IS: 200</td></tr>
<tr><td></td></tr>
<tr><td>---TEST END---TC_Content_01</td></tr>
<tr><td>Test Case Number: TC_Content_02 | Test Module: `Contents` Box  | Test Description: Validate Link: Family</td></tr>
<tr><td>---Preconditions---TC_Content_02</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: FamilyLink</td></tr>
<tr><td>xpathLINK: FamilyXPATH</td></tr>
<tr><td>---TEST---TC_Content_02</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX USED HEDING ON PAGE VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX LINK NAVIGATED FUNCTIONAL VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' LINK CONTAIN CORRECT RESPONSE CODE VALIDATION DONE, CODE IS: 200</td></tr>
<tr><td></td></tr>
<tr><td>---TEST END---TC_Content_02</td></tr>
<tr><td>Test Case Number: TC_Content_03 | Test Module: `Contents` Box  | Test Description: Validate Link: Mythology</td></tr>
<tr><td>---Preconditions---TC_Content_03</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: MythologyLink</td></tr>
<tr><td>xpathLINK: MythologyXPATH</td></tr>
<tr><td>---TEST---TC_Content_03</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX USED HEDING ON PAGE VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX LINK NAVIGATED FUNCTIONAL VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' LINK CONTAIN CORRECT RESPONSE CODE VALIDATION DONE, CODE IS: 200</td></tr>
<tr><td></td></tr>
<tr><td>---TEST END---TC_Content_03</td></tr>
<tr><td>Test Case Number: TC_Content_04 | Test Module: `Contents` Box  | Test Description: Validate Link: In sociology</td></tr>
<tr><td>---Preconditions---TC_Content_04</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: In_sociologyLink</td></tr>
<tr><td>xpathLINK: In_sociologyXPATH</td></tr>
<tr><td>---TEST---TC_Content_04</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX USED HEDING ON PAGE VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>Test Case Number: TC_Content_05 | Test Module: `Contents` Box  | Test Description: Validate Link: Honours</td></tr>
<tr><td>---Preconditions---TC_Content_05</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: HonoursLink</td></tr>
<tr><td>xpathLINK: HonoursXPATH</td></tr>
<tr><td>---TEST---TC_Content_05</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX USED HEDING ON PAGE VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX LINK NAVIGATED FUNCTIONAL VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' LINK CONTAIN CORRECT RESPONSE CODE VALIDATION DONE, CODE IS: 200</td></tr>
<tr><td></td></tr>
<tr><td>---TEST END---TC_Content_05</td></tr>
<tr><td>Test Case Number: TC_Content_06 | Test Module: `Contents` Box  | Test Description: Validate Link: Notes</td></tr>
<tr><td>---Preconditions---TC_Content_06</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: NotesLink</td></tr>
<tr><td>xpathLINK: NotesXPATH</td></tr>
<tr><td>---TEST---TC_Content_06</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX USED HEDING ON PAGE VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX LINK NAVIGATED FUNCTIONAL VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' LINK CONTAIN CORRECT RESPONSE CODE VALIDATION DONE, CODE IS: 200</td></tr>
<tr><td></td></tr>
<tr><td>---TEST END---TC_Content_06</td></tr>
<tr><td>Test Case Number: TC_Content_07 | Test Module: `Contents` Box  | Test Description: Validate Link: References</td></tr>
<tr><td>---Preconditions---TC_Content_07</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: ReferencesLink</td></tr>
<tr><td>xpathLINK: ReferencesXPATH</td></tr>
<tr><td>---TEST---TC_Content_07</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX USED HEDING ON PAGE VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX LINK NAVIGATED FUNCTIONAL VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' LINK CONTAIN CORRECT RESPONSE CODE VALIDATION DONE, CODE IS: 200</td></tr>
<tr><td></td></tr>
<tr><td>---TEST END---TC_Content_07</td></tr>
<tr><td>Test Case Number: TC_Content_08 | Test Module: `Contents` Box  | Test Description: Validate Link: Furder Reading</td></tr>
<tr><td>---Preconditions---TC_Content_08</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedURL: Further_readingLink</td></tr>
<tr><td>xpathLINK: Further_readingXPATH</td></tr>
<tr><td>---TEST---TC_Content_08</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX USED HEDING ON PAGE VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' BOX LINK NAVIGATED FUNCTIONAL VALIDATION DONE</td></tr>
<tr><td>'CONTENTS' LINK CONTAIN CORRECT RESPONSE CODE VALIDATION DONE, CODE IS: 200</td></tr>
<tr><td></td></tr>
<tr><td>---TEST END---TC_Content_08</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_01 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Adrasteia</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_01</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In ancient Greek religion and mythology, Adrasteia, also spelled Adrastia, Adrastea, Adrestea, Adastreia or Adrasta), originally a Phrygian mountain goddess, probably associated with Cybele, was later a Cretan nymph, and daughter of Melisseus, who was charged by Rhea with nurturing the infant Zeus in secret, to protect him from his father Cronus. By at least the fifth century BC, she became identified with Nemesis, the goddess of divine retribution.</td></tr>
<tr><td>xpathLINK: Adrasteia_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Adrasteia_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_01</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_01</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_02 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Apate</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_02</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In Greek mythology, Apate was the personification of deceit. Her mother was Nyx, the personification of night. Her Roman equivalent was Fraus. Her male counterpart was Dolos, daemon of trickery, and her opposite number was Aletheia, the spirit of truth.</td></tr>
<tr><td>xpathLINK: Apate_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Apate_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_02</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_02</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_03 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Bia</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_03</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In Greek mythology, Bia was the personification of force, anger and raw energy.</td></tr>
<tr><td>xpathLINK: Bia_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Bia_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_03</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_03</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_04 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Charites</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_04</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In Greek mythology, a Charis or Grace is one of three or more goddesses of charm, beauty, nature, human creativity, goodwill, and fertility, together known as the Charites or Graces. The usual roster, as given in Hesiod, is Aglaea ("Shining"), Euphrosyne ("Joy"), and Thalia ("Blooming"). Hesiod states that Aglaea is the youngest of this group and the wife of Hephaestus. In Roman mythology they were known as the , the "Graces". In some variants, Charis was one of the Charites, who was equated with Aglaea rather than a singular form of the name, as she too is referred to as the wife of Hephaestus.</td></tr>
<tr><td>xpathLINK: Charites_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Charites_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_04</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_04</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_05 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Eris</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_05</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: Eris is the Greek goddess of strife and discord. Her Roman equivalent is Discordia, which means the same. Eris's Greek opposite is Harmonia, whose Roman counterpart is Concordia. Homer equated her with the war-goddess Enyo, whose Roman counterpart is Bellona. The dwarf planet Eris is named after the goddess.</td></tr>
<tr><td>xpathLINK: Eris_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Eris_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_05</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_05</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_06 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Eros</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_06</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In Greek mythology, Eros is the Greek god of love and sex. His Roman counterpart was Cupid ("desire"). In the earliest account, he is a primordial god, while in later accounts he is described as one of the children of Aphrodite and Ares and, with some of his siblings, was one of the Erotes, a group of winged love gods.</td></tr>
<tr><td>xpathLINK: Eros_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Eros_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_06</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_06</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_07 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Horae</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_07</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In Greek mythology the Horae or Horai or Hours were the goddesses of the seasons and the natural portions of time.</td></tr>
<tr><td>xpathLINK: Horae_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Horae_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_07</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_07</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_08 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Kratos</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_08</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In Greek mythology, Kratos is the divine personification of strength. He is the son of Pallas and Styx. Kratos and his siblings Nike ("Victory"), Bia ("Force"), and Zelus ("Zeal") are all essentially personifications of a trait. Kratos is first mentioned alongside his siblings in Hesiod's Theogony. According to Hesiod, Kratos and his siblings dwell with Zeus because their mother Styx came to him first to request a position in his regime, so he honored her and her children with exalted positions. Kratos and his sister Bia are best known for their appearance in the opening scene of Aeschylus' . Acting as agents of Zeus, they lead the captive Titan Prometheus on stage. Kratos compels the mild-mannered blacksmith god Hephaestus to chain Prometheus to a rock as punishment for his theft of fire.</td></tr>
<tr><td>xpathLINK: Kratos_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Kratos_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_08</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_08</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_09 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Moirai</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_09</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In ancient Greek religion and mythology, the Moirai, often known in English as the Fates, were the incarnations of destiny; their Roman equivalent was the Parcae, and there are other equivalents in cultures that descend from the Proto-Indo-European culture. Their number became fixed at three: Clotho ("spinner"), Lachesis ("allotter") and Atropos.</td></tr>
<tr><td>xpathLINK: Moirai_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Moirai_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_09</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_09</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_10 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Muses</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_10</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In ancient Greek religion and mythology, the Muses are the inspirational goddesses of literature, science, and the arts. They were considered the source of the knowledge embodied in the poetry, lyric songs, and myths that were related orally for centuries in ancient Greek culture.</td></tr>
<tr><td>xpathLINK: Muses_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Muses_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_10</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_10</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_11 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Nemesis</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_11</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In ancient Greek religion, Nemesis, also called Rhamnousia or Rhamnusia, is the goddess who enacts retribution against those who succumb to hubris, arrogance before the gods.</td></tr>
<tr><td>xpathLINK: Nemesis_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Nemesis_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_11</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_11</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_12 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link) : Nike
</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_12</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In ancient Greek religion, Nike was a goddess who personified victory. Her Roman equivalent was Victoria.</td></tr>
<tr><td>xpathLINK: Nike_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Nike_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_12</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_13 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Themis</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_13</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: Themis is an ancient Greek Titaness. She is described as "[the Lady] of good counsel," and is the personification of divine order, fairness, law, natural law, and custom. Her symbols are the Scales of Justice, tools used to remain balanced and pragmatic. Themis means "divine law" rather than human ordinance, literally "that which is put in place", from the Greek verb , meaning "to put."</td></tr>
<tr><td>xpathLINK: Themis_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Themis_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_13</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_13</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxToolTipText_14 | Test Module:  'Personified Concepts' Box  | Test Description: Link ToolTip Text Validation(Hover Link): Zelus</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxToolTipText_14</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>ExpectedTEXT: In Greek mythology, Zelus or Zelos was the daimon that personifies dedication, emulation, eager rivalry, envy, jealousy, and zeal. The English word "zeal" is derived from his name.</td></tr>
<tr><td>xpathLINK: Zelus_xpath</td></tr>
<tr><td>xpathLINKTooltipText: Zelus_ToolTip_xpath</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxToolTipText_14</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' TOOL TIP TEXT VALIDATION - DONE</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxToolTipText_14</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxLinks_01 | Test Module:  'Personified Concepts' Box  | Test Description: Link Functionality Validation: Adrasteia</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxLinks_01</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>TitleRederectPage: AdrasteiaPageTitle</td></tr>
<tr><td>ExpectedURL: Adrasteia</td></tr>
<tr><td>xpathLINK: Adrasteia_xpath</td></tr>
<tr><td>FalmilyTreeHeadingXPATH: null</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxLinks_01</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX LINK NAVIGATED, REDIRECTED PAGE URL VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX LINK NAVIGATED, REDIRECTED PAGE TITLE VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' LINK CONTAIN CORRECT RESPONSE CODE VALIDATION DONE, CODE IS: 200</td></tr>
<tr><td>Current Test Case Out of scope! Demo only</td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxLinks_01</td></tr>
<tr><td>Test Case Number: TC_personifiedConceptsBoxLinks_02 | Test Module:  'Personified Concepts' Box  | Test Description: Link Functionality Validation: Nike</td></tr>
<tr><td>---Preconditions---TC_personifiedConceptsBoxLinks_02</td></tr>
<tr><td>BaseURL:BaseURL</td></tr>
<tr><td>TitleBasePage: TitleBasePage</td></tr>
<tr><td>TitleRederectPage: NikePageTitle</td></tr>
<tr><td>ExpectedURL: Nike</td></tr>
<tr><td>xpathLINK: Nike_xpath</td></tr>
<tr><td>FalmilyTreeHeadingXPATH: null</td></tr>
<tr><td>---TEST---TC_personifiedConceptsBoxLinks_02</td></tr>
<tr><td>HOME PAGE CURRENT URL VALIDATION DONE</td></tr>
<tr><td>HOME PAGE CURRENT TITLE VALIDATION DONE</td></tr>
<tr><td>HOME PAGE FIRST HEADING VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX WEB ELEMENT IS ENABLED LINK VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX WEB ELEMENT IS DISPLAYED LINK VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX WEB ELEMENT LINK EQUAL TO EXPECTED VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX LINK NAVIGATED, REDIRECTED PAGE URL VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX LINK NAVIGATED, REDIRECTED PAGE TITLE VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' BOX LINK NAVIGATED, REDIRECTED PAGE DISPLAYS A 'FAMILY TREE' HEADING TEXT VALIDATION DONE</td></tr>
<tr><td>'PERSONIFIED CONCEPTS' LINK CONTAIN CORRECT RESPONSE CODE VALIDATION DONE, CODE IS: 200</td></tr>
<tr><td></td></tr>
<tr><td>---TEST END---TC_personifiedConceptsBoxLinks_02</td></tr>
</table>